@charset "utf-8";
/* CSS Document */

.grid{
	display:grid;
	grid-template-rows:1fr;
}
@media (max-width:575.9px) {
	.grid{
		grid-template-columns: 15px 1fr 30px 1fr 15px;
	}
}

@media (min-width:576px) and (max-width:767.9px) {
	.grid{
		grid-template-columns: 18px repeat(12,1fr) 18px;
	}
}

@media (min-width:768px) and (max-width:991.9px) {
	.grid{
		grid-template-columns: 24px repeat(12,1fr) 24px;
	}
}

@media (min-width:992px) and (max-width:1199.9px) {
	.grid{
		grid-template-columns: 15px repeat(12,1fr) 15px;
	}
}

@media (min-width:1200px) {
	.grid{
		grid-template-columns: 1fr repeat(12,95px) 1fr;
	}
}


